# dependencies
node_modules

# next
.next
out
dist
build

# production
*.tsbuildinfo

# env and secrets
.env
.env.*
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# local tooling
.DS_Store
Thumbs.db
.vercel

